.anicamao-fade.ng-animate {
    transition: transform 0.8s;
    transition: 0.5s linear all;
}

.anicamao-fade.ng-enter {
    opacity: 0;
}

.anicamao-fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.anicamao-fade.ng-leave {
    opacity: 1;
}

.anicamao-fade.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scale(0.1);
}

.image-box {    
    height: 300px;
}

.image-in-box {    
    height: 300px;
}

.card-box {
    margin-right: 0.4em;
    margin-left: 0.4em;
}

#rodape a {
    text-decoration: none;
    font-weight: bold;
}
footer#rodape {
	clear: both;
    border-top: 1px solid rgb(255, 89, 0);
    margin-top: 1em;
    background-color: rgba(141, 141, 141, 0.712);
}
footer#rodape p {
    font-weight: bold;
    color: fff;
    text-align: center;
    font-size: 0.7em;
    padding: 1em;
    margin: 0;
}
#rodape a {
    color: fff;
}

.banner-jumbotron {
    background-image: url("http://static4.comicvine.com/uploads/original/4/47635/1754357-z_fighters_cell.png");
    background-color: #cccccc;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 35px;
    color: orange;
}

@media (min-width: 1200px) {
    .card-box {
        margin-right: 3em;
        margin-left: 3em;
    }
}