<div class="page-header text-center">
    <h1>{{personagem.nome}}</h1>
</div>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Nome</label>
            <input ng-model="personagem.nome" id="name" name="nome" class="form-control" required ng-maxlength="20">
            <span ng-show="formulario.$submitted && formulario.nome.$error.required" class="form-control alert-danger">Nome Obrigatório</span>
            <span ng-show="formulario.$submitted && formulario.nome.$error.maxlength" class="form-control alert-danger">Máximo 20 caracteres!!!</span>
        </div>
        <div class="form-group">
            <label for="race">Raça</label>
            <input ng-model="personagem.raca" id="race" name="raca" class="form-control" required>
            <span ng-show="formulario.$submitted && formulario.raca.$error.required" class="form-control alert-danger">Raca Obrigatória</span>
        </div>
        <div class="form-group">
            <label for="age">Idade</label>
            <input ng-model="personagem.idade" id="age" name="idade" class="form-control">
        </div>
        <div class="form-group" name="sexo">
            <label for="sex">Sexo: </label>
            <label class="radio-inline">
                <input ng-model="personagem.sexo" type="radio" value="Masc" checked>Masc
            </label>
            <label class="radio-inline">
                <input ng-model="personagem.sexo" type="radio" value="Fem">Fem
            </label>
            <label class="radio-inline">
                <input ng-model="personagem.sexo" type="radio" value="Outro">Outro
            </label>
        </div>
        <div class="form-group" name="classe">
            <label for="class">Classe: </label>
            <label class="radio-inline" id="class">
                <input ng-model="personagem.classe" type="radio" value="Balanceado" checked required>Balanceado
            </label>
            <label class="radio-inline">
                <input ng-model="personagem.classe" type="radio" value="Assassino">Assassino
            </label>
            <label class="radio-inline">
                <input ng-model="personagem.classe" type="radio" value="Especialista">Especialista
            </label>
            <label class="radio-inline">
                <input ng-model="personagem.classe" type="radio" value="Tanque">Tanque
            </label>
        </div>
        <div class="form-group">
            <label for="pow">Poder De Luta Inicial</label>
            <input ng-model="personagem.poderDeLuta" id="pow" name="poderdeluta" class="form-control" required>
            <span ng-show="formulario.$submitted && formulario.poderdeluta.$error.required" class="form-control alert-danger">Poder de Luta Inicial Obrigatório</span>
        </div>
        <div class="form-group">
            <label for="pic">Foto</label>
            <input ng-model="personagem.url" id="pic" name="url" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
        <a href="/" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <img class="img-responsive center-block" src="{{personagem.url}}" alt="{{personagem.nome}}">
    </div>
</form>